{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="yandex-verification" content="8cd92d5bc60988bb" />

    <title>{% block title %}{% endblock %} :: tryTen</title>

    {#    jQuery neded before Selectize #}
    {%  render_bundle "main" %}
    {%  render_bundle "vendor" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>{% include '_layouts/navbar.html' %}</header>

    <div class="container theme-showcase" role="main">
        {% block headline %}{% endblock %}

        {% if messages %}
        <div>
            <ul class="list-unstyled messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% block content %}{% endblock %}

        {% block styles %}
        {% endblock %}
    </div> <!-- /container -->

    <script src="https://js.stripe.com/v3/"></script>
    {% block script %}{% endblock %}
  </body>
  <footer>
    <p>Все права принадлежат разработчикам сайта.</p>
  </footer>
</html>
