@charset "utf-8";
.body {margin: 0;}
#header{
    text-align:center;
    border-bottom: 1px #cccccc solid;
}
#header h1{
    margin: 20px 0 20px 0;
    letter-spacing: 0.2em;
}
#left_menu{
    float:left;
    width:100px;
    padding:10px;
}
#left_menu ul{
    margin: 0;
    padding:0;
}
#left_menu ul li{
    list-style-type:none;
    margin-bottom:5px;
}
#main{
    margin-left:110px;
    border-left:1px #cccccc solid;
    padding: 10px;
}
#main h2{
    margin:0 0 10px 0;
}
#main table{
    width:100%;
    border-collapse:collapse;
}
#main table td, #main table th{
    border:1px #666666 solid;
    padding: 5px;
}
#main table td.centered{
    text-align: center;
}
#main p.category{
    font-weight: bold;
}
#main p.not-in-stock{
    color:#FF0000;
}
#footer{
    text-align:right;
    border-top:1px #cccccc solid;
    ppadding-right: 10px;
}
#footer p{
    font-size:smaller;
    font-style:italic;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#4333b7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}

.navbar-inverse .navbar-brand {
    color: #1db914;
}

img {
    width: 100%;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
