{% extends '_layouts/base.html' %}

{% block title %}{% if category %}{{ category.name }} :: {% endif %}Все для уборки{% endblock %}

{% block headline %}
    <div id="header">
        <h2>{% block good_headline %}{% endblock %}{% if category %}<a href="{% url 'goods:list' %}{% query_builder request cat_id=category.id page=None tags=None %}">{{ category.name }}</a> :: {% endif %}Все для уборки</h2>
    </div>
{% endblock %}

{% block content %}
    <div id="left_menu">
        {% if cats.count > 0 %}
            <ul>
                {% for cat in cats %}
                    <li><a href="{% url 'goods:list' %}{% query_builder request cat_id=cat.id page=None tags=None%}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Categories list is empty</p>
        {% endif %}
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}
