{% extends 'goods/base_goods.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ headline }}{% endblock %}

{% block headline %}
    <div id="header">
        <h2>{{ headline }}</h2>
    </div>
{% endblock headline %}

{% block main %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            {% crispy form %}
            <br>
            <p><a href="{% url 'goods:list' %}?cat_id={{ category.id }}{% if page and page > 1 %}&page={{ page }}{% endif %}">Go Back</a></p>
        </div>
    </div>
{% endblock %}
