{% extends 'goods/base_goods.html' %}

{% block main %}
    <table>
        <tr>
            <th>Name</th>
            <th>In stock</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% for good in good_list %}
            <tr>
                <td><a href="{% url 'goods:detail' good.id %}{% if page_obj.number > 1 %}?page={{ page_obj.number }}{% endif %}">{{ good.name }}</a></td>
                <td class="centered">{{ good.get_is_stock }}</td>
                <td class="centered"><a href="{% url 'goods:update' pk=good.id %}?cat_id={{ category.id }}{% if page and page > 1 %}&page={{ page }}{% endif %}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a></td>
                <td class="centered"><a href="{% url 'goods:delete' pk=good.id %}?cat_id={{ category.id }}{% if page and page > 1 %}&page={{ page }}{% endif %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a></td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'goods:list' %}?cat_id={{ category.id }}{% if page_obj.previous_page_number > 1 %}&page={{ page_obj.previous_page_number }}{% endif %}">&lt;</a>
                {% endif %}
                {% for pn in paginator.page_range %}
                    {% if not forloop.first %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    {% if page_obj.number != pn %}
                        <a href="{% url 'goods:list' %}?cat_id={{ category.id }}{% if pn > 1 %}&page={{ pn }}{% endif %}">
                    {% endif %}
                    {{ pn }}
                    {% if page_obj.number != pn %}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'goods:list' %}?cat_id={{ category.id }}&page={{ page_obj.next_page_number }}">&gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
