{% extends 'goods/base_goods.html' %}

{% block title %}{{ object.name }} :: {{ block.super }}{% endblock %}

{% block good_headline %}
    <a href="{% url 'goods:detail' object.id %}">{{ object.name }}</a> ::
{% endblock %}

{% block main %}
    <p>{{ object.description|linebreaksbr }}</p>
    <p class="not-in-stock">{% if not object.in_stock %}Out of stock!{% endif %}</p>
    <p><a href="{% url 'goods:list' %}?cat_id={{ category.id }}{% if page and page > 1 %}&page={{ page }}{% endif %}">Back</a></p>
{% endblock %}
