{% extends 'goods/base_goods.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ headline }} :: {{ block.super }}{% endblock %}

{% block good_headline %}{{ headline }}{% endblock %}

{% block main %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            {% crispy form %}
            <br>
            <p><a href="{% url 'goods:list' %}?cat_id={{ category.id | urlencode }}{% if page and page > 1 %}&page={{ page | urlencode }}{% endif %}">Go Back</a></p>
        </div>
    </div>
{% endblock %}
