{% extends 'goods/base_goods.html' %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="centered">Name</th>
                <th class="centered">In stock</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for good in good_list %}
                <tr>
                    <td class="col-sm-5 col-sm-offset-2"><a href="{% url 'goods:goods:detail' good.slug %}{% query_builder request %}">{{ good.name }}</a></td>
                    <td class="centered col-sm-1">{{ good.get_in_stock }}</td>
                    {% if request.user.is_authenticated %}
                        <td class="centered col-sm-1">
                            <a href="{% url 'goods:goods:update' slug=good.slug %}{% query_builder request %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td class="centered col-sm-1">
                            <a href="{% url 'goods:goods:delete' slug=good.slug %}{% query_builder request %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'goods:goods:list' %}{% query_builder request page=page_obj.previous_page_number %}">&lt;</a>
                {% endif %}
                {% for pn in paginator.page_range %}
                    {% if not forloop.first %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    {% if page_obj.number != pn %}
                        <a href="{% url 'goods:goods:list' %}{% query_builder request page=pn %}">
                    {% endif %}
                    {{ pn }}
                    {% if page_obj.number != pn %}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'goods:goods:list' %}{% query_builder request page=page_obj.next_page_number%}">&gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
