{% extends 'goods/base_goods.html' %}

{% block title %}Deleting good {{ object }} :: {{ block.super }}{% endblock %}

{% block good_headline %}Deleting good <a href="{% url 'goods:goods:detail' object.id %}">{{ object.name }}</a> :: {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm" class="btn btn-default"/>
            </form>
        </div>
    </div>
{% endblock %}
